.posts-container {
    padding: 20px;
}

.date {
    display: flex;
    justify-content: flex-end;
}

.post {
    background-color: #f5f5f5;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
    color: black;
}

.post-header {
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

.create-post {
    text-align: center;
    margin: 20px 0;
}

.create-post-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.create-post-button:hover {
    background-color: #45a049;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}
 
 .reply-post-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.9rem;
 }
 
 .reply-post-button:hover {
    background-color: #45a049;
 }

 .delete-post-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: red;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 0.9rem;
    margin-right: 10px;
 }

 .delete-post-button:hover{
    background-color: darkred;
 }