{% extends 'web_forum/navigation_bar.html' %}
{% load static %}

{% block content %}
<div class="posts-container">
    {% for post in posts %}
        <div class="post">
                <div class="post-header">
                    <span class="author">{{ post.user.username }}</span>
                    <span class="date">{{ post.created_at|timesince }} ago</span>
                </div>
                <p class="content">{{ post.contents }}</p>

                <div class="reply-button">
                    <a href="{% url 'reply_post' post.id %}" class="reply-post-button">Reply</a>
                </div>
        </div>
    {% empty %}
        <p>No posts available.</p>
    {% endfor %}
</div>

<div class="create-post">
   <a href="{% url 'create post' %}" class="create-post-button">Create New Post</a>
</div>
{% endblock %}
